In [582]:
import pandas as pd
import numpy as np
import collections
import os
from datetime import datetime
from tqdm import tqdm
import scipy.sparse
from sklearn.feature_extraction.text import TfidfVectorizer

# Finding Similar Documents

## 1.1 Set up the data

In [561]:
df = pd.read_csv(os.getcwd()+'/bank_transactions.csv')
df.head()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5

In [562]:
df.isna().sum()

TransactionID                 0
CustomerID                    0
CustomerDOB                3397
CustGender                 1100
CustLocation                151
CustAccountBalance         2369
TransactionDate               0
TransactionTime               0
TransactionAmount (INR)       0
dtype: int64

We have some NaN values, we remove the index associated to them.

In [563]:
df = df.dropna()

In [564]:
df.isna().sum()

TransactionID              0
CustomerID                 0
CustomerDOB                0
CustGender                 0
CustLocation               0
CustAccountBalance         0
TransactionDate            0
TransactionTime            0
TransactionAmount (INR)    0
dtype: int64

In [565]:
df.dtypes

TransactionID               object
CustomerID                  object
CustomerDOB                 object
CustGender                  object
CustLocation                object
CustAccountBalance         float64
TransactionDate             object
TransactionTime              int64
TransactionAmount (INR)    float64
dtype: object

In [566]:
df.shape

(1041614, 9)

In [567]:
df.nunique()

TransactionID              1041614
CustomerID                  879358
CustomerDOB                  17233
CustGender                       3
CustLocation                  9275
CustAccountBalance          160723
TransactionDate                 55
TransactionTime              81855
TransactionAmount (INR)      92391
dtype: int64

We remove the id columns because there are not relevant.

In [568]:
df.drop(["TransactionID", "CustomerID"], axis=1, inplace=True)

In [569]:
df.head()

,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5

In [570]:
df['CustGender'].value_counts()

M    760978
F    280635
T         1
Name: CustGender, dtype: int64

We remove the index associated to the T gender because it appears only one time and we don't know its meaning.

In [571]:
df.drop(df[df['CustGender'].isin(['T'])].index,axis=0,inplace=True)

In [572]:
df['CustGender'].unique()

array(['F', 'M'], dtype=object)

set -> concatenation of all the values of the attributes of one index

We get a boolean matrix (the characteristic matrix) representation for all the sets where the columns are the sets (one set for one customer) and the lines are the elements. So, if we have a 1 in column c and row r, we know that element for row r is a member of the set for column c.

In [573]:

def periodOfDay(dt) :
    hour = int(dt.split(':')[0])
    if hour>=7 and hour<=12 :
        return 'morning'
    elif hour>=13 and hour<=18 :
        return 'afternoon'
    elif hour>=19 and hour<=22 :
        return 'evening'
    else :
        return 'night'
        

def preprocessedData(df):
    #new_df = pd.DataFrame(['CustGender', 'CustLocation', 'CustomerAge', 'CustAccountBalance', 'TransactionAmount (INR)', 'TransactionDayPeriod'])

    # All the years of birth date are on two digits instead of 1800. This value doesn't make sense. 
    # So, we remove the index associated to this value.
    df.CustomerDOB = pd.to_datetime(df.CustomerDOB)
    df.drop(df[df.CustomerDOB.dt.year == 1800].index, axis=0, inplace=True)
    # Moreover, the dataset only provides the last two digits of the birth years. And, we have values up to 99. 
    # It means that we can then assume that all the years of birth are in the 1900s.
    # So, we process the datetime years that we got in the 2000s by removing 100 years to them.
    df.loc[df.CustomerDOB.dt.year > 2000, 'CustomerDOB'] = df.loc[df.CustomerDOB.dt.year > 2000, 'CustomerDOB'] - pd.DateOffset(years = 100)

    df.CustGender = df['CustGender'].apply(lambda line: 'male' if line=='M' else 'female')
    
    # We get the age of each customer
    df['CustomerAge'] = (( pd.to_datetime('today') - df.CustomerDOB ) / np.timedelta64(1, 'Y')).round(0)
    df['CustomerAge'] = df['CustomerAge'].astype(str)

    # We get the order of the balance of each customer because it will be time-expensive to compare exact values
    df['CustAccountBalance'] = df['CustAccountBalance'].apply(lambda balance: str(format(int(balance),'.1E')))
    df['CustAccountBalanceOrder'] = df['CustAccountBalance'].apply(lambda balance: balance.split('+')[-1])

    df['TransactionAmount (INR)'] = df['TransactionAmount (INR)'].apply(lambda line: str(int(line)))

    df.TransactionTime = df.TransactionTime.apply(lambda timestamp : datetime.utcfromtimestamp(int(timestamp)).strftime('%H:%M:%S'))

    # We get more general information about the transaction time so it's easier to compare it between users
    df['TransactionDayPeriod'] = df.TransactionTime.apply(periodOfDay)

    # We only keep those attributes because they give a good summary about the profile of each customer
    return df[['CustLocation', 'CustomerAge', 'CustAccountBalanceOrder', 'TransactionDayPeriod']]

In [574]:
def getShingles(df) :
    shingles = []
    for i in (df.index) :
        shingles.append(' '.join(df.loc[i].values))
    return shingles

In [575]:
def getCharacteristicMatrix(shingles) :
    vectorizer = TfidfVectorizer() 
    characteristic_matrix = vectorizer.fit_transform(shingles)
    return characteristic_matrix

In [ ]:
preprocessed_df = preprocessedData(df[:1000])
shingles = getShingles(preprocessed_df)
characteristic_matrix = getCharacteristicMatrix(shingles)

In [578]:
preprocessed_df

     CustLocation CustomerAge CustAccountBalanceOrder TransactionDayPeriod
0      JAMSHEDPUR        28.0                      04            afternoon
1         JHAJJAR        66.0                      03            afternoon
2          MUMBAI        26.0                      04            afternoon
3          MUMBAI        49.0                      05            afternoon
4     NAVI MUMBAI        35.0                      03                night
...           ...         ...                     ...                  ...
998      KASHIPUR        27.0                      00              morning
999       UDAIPUR        35.0                      04              morning
1000       AMBALA        42.0                      05              morning
1001     WRZESNIA        64.0                      05              morning
1002        MEWAT        33.0                      04              morning

[937 rows x 4 columns]

In [313]:
type(characteristic_matrix)

scipy.sparse.csr.csr_matrix

In [589]:
characteristic_matrix

<937x337 sparse matrix of type '<class 'numpy.float64'>'
	with 3943 stored elements in Compressed Sparse Row format>

## 1.2 Fingerprint Hashing

### Min Hashing

In [580]:

class MinHash :
    
    def __init__(self, n_permutations, n_shingles) :        
        self.n_permutations = n_permutations
        self.permutations = []
        self.signature_matrix = []
        for _ in range (n_permutations) :
            self.permutations.append(self.getPermutation(n_shingles))
    
    # input : characteristic matrix (size : n_customers x n_vocs)
    # output : signature matrix (size :  n_permutations x n_customers)
    def __call__(self, characteristic_matrix) :
        n_customers = characteristic_matrix.shape[0]
        #n_shingles = characteristic_matrix.shape[1]

        reduced_signature_matrix = []
        for i in tqdm(range(self.n_permutations)) :

            permuted_matrix = self.permuteMatrix(self.permutations[i], characteristic_matrix)

            # we get the index of the first non-null element for each customer
            index = []
            for i in range(n_customers) :
                #L = self.characteristic_matrix[i].toarray()[0]
                
                #for permutation in self.permutations :
                 #   j = 0
                  #  while L[list(permutation).index(j)] == 0 :
                   #     j += 1
                    #index.append(j)
                index.append(min(np.nonzero(permuted_matrix[i])[1]))
            reduced_signature_matrix.append(index)
        reduced_signature_matrix = np.array(reduced_signature_matrix, dtype=int)
        if len(self.signature_matrix) == 0 :
            self.signature_matrix = reduced_signature_matrix
        else :
            self.signature_matrix = np.concatenate([self.signature_matrix,reduced_signature_matrix], axis=1)
    
    
    def getPermutation(self, n_shingles) :
        return np.random.permutation(range(0,n_shingles))

    # characteristic_matrix : size n_customers x n_vocs
    def permuteMatrix(self, permutation, characteristic_matrix) :

        permuted_matrix = characteristic_matrix.copy()
        for i, j in enumerate(permutation) :
            permuted_matrix[:,j] = characteristic_matrix.getcol(i)
        
        #self.characteristic_matrix = self.permuted_matrix.copy()
        return permuted_matrix

In [581]:

# Divide the signature matrix by band and put the customers into related bucket for each band
# signature matrix : size  n_permutations x n_customers
# b : number of bands
# r : number of rows in each band
class LSH :
    
    def __init__(self, b, r) :
        self.b = b
        self.r = r
        self.buckets = collections.defaultdict(set)
        
    def __call__(self, signature_matrix) :
        bands = np.array_split(signature_matrix, self.b, axis=0)

        for _,band in enumerate(bands) :
            for c in range (signature_matrix.shape[1]) :
                self.buckets[tuple(band[:,c])].add(c)

    def getSimilarities(self, signature_vector) :
        similar_customers = set()
        
        bands = np.array_split(signature_vector, self.b, axis=0)

        for i,band in enumerate(bands) :
            for c in range (signature_vector.shape[1]) :
                similar_customers = similar_customers.union(self.buckets[list(band[:,i])])
                
        return similar_customers

In [594]:
n_permutations = 10
len_chunks = 50000
# characteristic_matrix : lines (customers), columns n_vocabulary()
minHash = MinHash(n_permutations, characteristic_matrix.shape[1])

signature_matrix = np.array([], dtype=int)
if characteristic_matrix.shape[0] < len_chunks :
    characteristic_matrix_reduced = scipy.sparse.lil_matrix(characteristic_matrix)
    minHash(characteristic_matrix_reduced)
else :
    for i in range ((characteristic_matrix.shape[0]//len_chunks)) :
        #print(i*len_chunks, (i+1)*len_chunks)
        characteristic_matrix_reduced = scipy.sparse.lil_matrix(characteristic_matrix[i*len_chunks:(i+1)*len_chunks])
        minHash(characteristic_matrix_reduced)
    if characteristic_matrix.shape[0]%len_chunks != 0 :
        #print((i+1)*len_chunks)
        characteristic_matrix_reduced = scipy.sparse.lil_matrix(characteristic_matrix[(i+1)*len_chunks:])
        minHash(characteristic_matrix_reduced)

signature_matrix = minHash.signature_matrix

100%|██████████| 10/10 [00:04<00:00,  2.45it/s]

In [595]:
signature_matrix

array([[ 21,  91,  79, ..., 151,  34,  28],
       [ 44,  26,  32, ..., 154, 119,  67],
       [159, 138, 259, ...,  73,  67,  23],
       ...,
       [ 39, 113,  34, ...,  12,  12,  61],
       [ 30,  30,   2, ...,  34,  34,  34],
       [ 27,  27,  22, ...,   4, 113, 113]])

### Threshold

We need to fix a value for the number of permutations that we want to compute.
This value is equal to b*r (b : number of bands and r : number of rows in each band).

And, we know that we can approximately link the threshold theta with r and b in this way $$\theta \approx (\frac{1}{b})^\frac{1}{r}$$ in order to be around the transition point to get the better compromise between false positives and false negatives.

So, we first need to fix theta. But we need to be careful because if we take a value too high of theta we increase the chance of getting false negatives (ie to don't output potential similar customers). And, if we take a theta too low we increase the chance of getting false positives (ie to output a lot of customers that are not similar).

To find a good balance between false positives and flase negatives it is necessary to be closest of the transition point represented the approximation between theta, r and b.

In [543]:
theta = 0.6

Once theta is fixed, we get all the couples (b,r) that verify the approximation. We try to get the maximum value for b and r while having good computing times.

The values of b and r have also a huge impact on the false positives and false negatives. Indeed, if we decrease r, b increases and we get more false positives because when r is little we have less buckets because we have less keys. Moreover, if we increase r, b decreases and we get more false negatives because we increase the number of keys ie the number of buckets.

In [546]:
B = range(5,80)
R = range(2,20)
epsilon = 0.05

couples = []
for b in B :
    for r in R :
        if (1/b)**(1/r) >= theta-epsilon and (1/b)**(1/r) <= theta+epsilon :
            couples.append((b,r))

couples

[(5, 3),
 (6, 3),
 (6, 4),
 (7, 4),
 (8, 4),
 (9, 4),
 (9, 5),
 (10, 4),
 (10, 5),
 (11, 5),
 (12, 5),
 (13, 5),
 (14, 5),
 (14, 6),
 (15, 5),
 (15, 6),
 (16, 5),
 (16, 6),
 (17, 5),
 (17, 6),
 (18, 5),
 (18, 6),
 (19, 5),
 (19, 6),
 (20, 6),
 (21, 6),
 (21, 7),
 (22, 6),
 (22, 7),
 (23, 6),
 (23, 7),
 (24, 6),
 (24, 7),
 (25, 6),
 (25, 7),
 (26, 6),
 (26, 7),
 (27, 6),
 (27, 7),
 (28, 6),
 (28, 7),
 (29, 6),
 (29, 7),
 (30, 6),
 (30, 7),
 (31, 6),
 (31, 7),
 (32, 6),
 (32, 7),
 (32, 8),
 (33, 6),
 (33, 7),
 (33, 8),
 (34, 6),
 (34, 7),
 (34, 8),
 (35, 6),
 (35, 7),
 (35, 8),
 (36, 6),
 (36, 7),
 (36, 8),
 (37, 7),
 (37, 8),
 (38, 7),
 (38, 8),
 (39, 7),
 (39, 8),
 (40, 7),
 (40, 8),
 (41, 7),
 (41, 8),
 (42, 7),
 (42, 8),
 (43, 7),
 (43, 8),
 (44, 7),
 (44, 8),
 (45, 7),
 (45, 8),
 (46, 7),
 (46, 8),
 (47, 7),
 (47, 8),
 (48, 7),
 (48, 8),
 (49, 7),
 (49, 8),
 (49, 9),
 (50, 7),
 (50, 8),
 (50, 9),
 (51, 7),
 (51, 8),
 (51, 9),
 (52, 7),
 (52, 8),
 (52, 9),
 (53, 7),
 (53, 8),
 (53, 9),
 (54, 7),
 (54, 8),
 (54, 9),
 (55, 7),
 (55, 8),
 (55, 9),
 (56, 7),
 (56, 8),
 (56, 9),
 (57, 7),
 (57, 8),
 (57, 9),
 (58, 7),
 (58, 8),
 (58, 9),
 (59, 7),
 (59, 8),
 (59, 9),
 (60, 7),
 (60, 8),
 (60, 9),
 (61, 7),
 (61, 8),
 (61, 9),
 (62, 7),
 (62, 8),
 (62, 9),
 (63, 7),
 (63, 8),
 (63, 9),
 (64, 7),
 (64, 8),
 (64, 9),
 (65, 7),
 (65, 8),
 (65, 9),
 (66, 8),
 (66, 9),
 (67, 8),
 (67, 9),
 (68, 8),
 (68, 9),
 (69, 8),
 (69, 9),
 (70, 8),
 (70, 9),
 (71, 8),
 (71, 9),
 (72, 8),
 (72, 9),
 (73, 8),
 (73, 9),
 (74, 8),
 (74, 9),
 (75, 8),
 (75, 9),
 (75, 10),
 (76, 8),
 (76, 9),
 (76, 10),
 (77, 8),
 (77, 9),
 (77, 10),
 (78, 8),
 (78, 9),
 (78, 10),
 (79, 8),
 (79, 9),
 (79, 10)]

Huge computation time, we need to work on chunks

In [596]:
b = 5
r = 2
lsh = LSH(b, r)
lsh(signature_matrix)

In [612]:
lsh.buckets

defaultdict(set,
            {(21, 44): {0,
              51,
              69,
              91,
              140,
              346,
              383,
              484,
              555,
              585,
              591,
              602,
              611,
              677,
              684,
              734,
              748,
              751,
              844,
              845,
              851,
              922},
             (91, 26): {1},
             (79, 32): {2},
             (79, 155): {3, 219, 303, 697, 732},
             (36, 12): {4,
              8,
              49,
              90,
              92,
              98,
              132,
              148,
              149,
              156,
              173,
              180,
              203,
              278,
              279,
              282,
              286,
              376,
              395,
              418,
              427,
              456,
              469,
              483,
              500,
              505,
              507,
              516,
              521,
              522,
              536,
              561,
              618,
              657,
              668,
              674,
              675,
              711,
              716,
              765,
              772,
              783,
              794,
              802,
              859,
              863,
              869,
              892,
              914,
              928,
              933},
             (33, 67): {5, 227, 832},
             (79, 117): {6, 409},
             (79, 67): {7,
              17,
              60,
              89,
              133,
              135,
              155,
              196,
              300,
              307,
              354,
              404,
              419,
              436,
              439,
              441,
              444,
              513,
              530,
              545,
              574,
              609,
              638,
              689,
              712,
              770,
              813,
              874,
              882,
              898,
              913},
             (79, 110): {9, 477, 629, 744, 781, 789},
             (138, 67): {10,
              12,
              35,
              44,
              50,
              80,
              103,
              117,
              153,
              228,
              338,
              341,
              347,
              370,
              424,
              429,
              433,
              435,
              464,
              537,
              538,
              539,
              546,
              557,
              572,
              573,
              604,
              678,
              687,
              708,
              738,
              760,
              782,
              808,
              835,
              856,
              889,
              896,
              906,
              909,
              917},
             (124, 67): {11, 58, 130, 445, 459, 793, 807},
             (29, 67): {13, 192, 305, 322, 414, 518, 531, 634, 920, 921},
             (22, 58): {14,
              18,
              46,
              57,
              144,
              150,
              151,
              154,
              247,
              259,
              342,
              351,
              368,
              390,
              402,
              474,
              482,
              498,
              541,
              610,
              746,
              773,
              785,
              822,
              825,
              826,
              827,
              830,
              885},
             (157, 37): {15},
             (79, 112): {16, 36, 147, 218, 420, 447, 603, 662, 735, 854},
             (22, 30): {19, 297},
             (88, 108): {20, 798},
             (8, 67): {21},
             (167, 112): {22, 324, 493, 850},
             (250, 30): {23},
             (190, 37): {24},
             (138, 30): {25, 87, 249, 425, 627, 805},
             (151, 37): {26, 74, 434, 552},
             (31, 112): {27, 128, 164, 392, 582, 612, 628, 665, 823, 911},
             (26, 67): {28,
              66,
              146,
              209,
              220,
              221,
              257,
              321,
              326,
              356,
              375,
              400,
              406,
              430,
              485,
              501,
              519,
              526,
              563,
              597,
              617,
              650,
              656,
              665,
              737,
              741,
              758,
              779,
              784,
              814,
              836,
              837,
              894,
              904},
             (51, 135): {29, 71, 174},
             (88, 135): {30, 96, 171, 499, 663, 683, 887},
             (88, 110): {31, 195, 667, 875},
             (88, 8): {32, 318, 371},
             (88, 22): {33, 65, 636, 755},
             (88, 112): {34, 108, 318, 330, 533, 612, 823, 911},
             (91, 30): {37, 253, 569, 619, 690},
             (79, 19): {38, 47, 248},
             (91, 128): {39},
             (51, 112): {40, 757},
             (91, 106): {41},
             (74, 67): {42},
             (88, 85): {43},
             (151, 154): {45,
              102,
              315,
              369,
              520,
              528,
              547,
              633,
              661,
              730,
              800,
              841,
              842,
              853,
              888,
              934},
             (91, 112): {48, 78, 296, 460, 692, 695, 718},
             (75, 1): {52},
             (105, 37): {53, 265, 415, 699, 884},
             (62, 23): {54},
             (124, 3): {55},
             (2, 50): {56, 186, 380, 515, 632, 811, 818, 901},
             (88, 7): {59, 165, 208, 316},
             (79, 128): {61, 110, 162, 268},
             (138, 19): {62, 491, 733},
             (29, 110): {63, 249, 518},
             (88, 37): {64,
              88,
              93,
              95,
              97,
              115,
              161,
              164,
              176,
              177,
              201,
              372,
              392,
              394,
              613,
              646,
              681,
              710,
              843},
             (88, 67): {67,
              94,
              99,
              119,
              128,
              200,
              317,
              329,
              438,
              553,
              607,
              642,
              647,
              777,
              924},
             (26, 106): {68, 422},
             (21, 17): {70},
             (91, 67): {72,
              145,
              222,
              244,
              251,
              252,
              255,
              261,
              262,
              271,
              280,
              373,
              540,
              544,
              594,
              717},
             (138, 37): {73,
              142,
              212,
              240,
              313,
              352,
              389,
              443,
              480,
              481,
              487,
              489,
              490,
              494,
              514,
              535,
              570,
              648,
              671,
              686,
              788,
              839,
              858,
              864,
              897,
              907,
              908,
              925},
             (250, 112): {75, 641},
             (138, 22): {76, 705},
             (91, 37): {77,
              85,
              124,
              207,
              229,
              260,
              270,
              291,
              298,
              542,
              595,
              596,
              623,
              630,
              691,
              806},
             (31, 67): {79, 136, 198, 273, 281, 824},
             (46, 20): {81, 199, 289, 411, 446, 473, 560, 728, 768, 895, 932},
             (134, 67): {82, 719},
             (124, 112): {83, 379, 929},
             (26, 110): {84},
             (26, 81): {86},
             (67, 37): {100, 216, 543},
             (29, 112): {101, 361, 416, 809, 840},
             (91, 40): {104},
             (26, 30): {105, 529, 664, 831},
             (29, 30): {106, 645, 771, 899},
             (88, 70): {107},
             (74, 117): {109},
             (88, 97): {111},
             (26, 12): {112, 197, 254, 337, 386, 452, 512},
             (17, 88): {113},
             (26, 112): {114,
              118,
              204,
              238,
              258,
              299,
              325,
              432,
              440,
              465,
              517,
              562,
              582,
              680,
              693,
              860,
              893},
             (29, 12): {116},
             (88, 42): {120},
             (91, 117): {121, 123, 274},
             (22, 22): {122, 881},
             (131, 37): {125, 250, 729, 820, 838, 878},
             (91, 7): {126, 170, 290},
             (45, 101): {127},
             (79, 135): {129, 622, 722},
             (29, 6): {131},
             (31, 12): {39, 61, 134, 331, 867},
             (88, 32): {137, 855},
             (105, 7): {138},
             (79, 116): {139, 217, 226, 241},
             (91, 95): {141, 592},
             (190, 19): {143, 413},
             (79, 30): {152, 172, 601, 639, 649, 797, 799},
             (167, 128): {157, 801},
             (198, 112): {158},
             (79, 13): {159,
              179,
              328,
              378,
              398,
              475,
              614,
              653,
              655,
              724,
              769,
              791,
              876},
             (88, 19): {160, 635},
             (5, 20): {163},
             (124, 37): {166, 319, 510, 848},
             (82, 67): {167},
             (8, 154): {168, 184, 930},
             (250, 100): {169},
             (88, 30): {175, 327, 393, 554, 778, 821},
             (84, 67): {178},
             (26, 19): {181, 568, 589},
             (26, 22): {182, 283, 437, 742, 883},
             (88, 117): {183},
             (83, 53): {185},
             (80, 67): {187},
             (0, 67): {188},
             (248, 30): {189, 565, 701, 709},
             (248, 19): {190, 707},
             (122, 7): {191, 511, 527, 626, 652},
             (43, 110): {193},
             (91, 19): {194, 230, 239, 267, 285, 294, 774},
             (91, 29): {202},
             (48, 67): {205},
             (29, 56): {206},
             (36, 7): {210},
             (112, 30): {211},
             (151, 116): {213},
             (98, 40): {214},
             (55, 34): {215},
             (91, 143): {223},
             (89, 73): {5, 224},
             (36, 0): {225, 748},
             (42, 67): {231},
             (61, 65): {232},
             (50, 67): {233},
             (91, 39): {234},
             (89, 67): {235},
             (91, 22): {236, 256},
             (91, 235): {237},
             (9, 14): {242, 575, 698},
             (167, 37): {243, 706, 715},
             (91, 81): {245, 502},
             (91, 97): {246},
             (91, 278): {263, 295},
             (26, 45): {264},
             (131, 67): {266, 357, 397, 428, 486, 587, 659, 762},
             (91, 136): {269, 454},
             (91, 56): {272},
             (72, 71): {275},
             (248, 37): {276, 306, 458},
             (51, 61): {277, 703},
             (8, 116): {284},
             (39, 112): {287},
             (91, 38): {288},
             (79, 22): {292, 314, 590, 682},
             (91, 16): {293},
             (91, 110): {301},
             (24, 32): {302},
             (26, 197): {304},
             (91, 63): {308},
             (11, 128): {309},
             (138, 32): {310, 335, 816},
             (79, 154): {311, 508, 625, 759, 767, 815},
             (99, 154): {312},
             (131, 112): {320, 365, 470, 669, 673, 725, 918},
             (230, 112): {323, 534, 704},
             (151, 105): {331},
             (151, 143): {332, 408},
             (51, 67): {333, 450, 472, 753, 915},
             (22, 56): {334},
             (190, 99): {336},
             (151, 19): {339},
             (11, 67): {340},
             (88, 56): {343},
             (159, 112): {344},
             (119, 53): {345, 868},
             (131, 3): {348},
             (73, 57): {349},
             (8, 112): {350, 359},
             (21, 37): {353, 551, 900, 931},
             (21, 24): {355},
             (56, 117): {358},
             (108, 67): {360},
             (26, 116): {362},
             (250, 19): {363, 559},
             (26, 20): {364, 558, 766},
             (99, 112): {366},
             (119, 37): {367, 747},
             (31, 22): {374},
             (114, 16): {377},
             (22, 20): {381},
             (93, 26): {382, 640},
             (97, 8): {384, 495, 780},
             (31, 125): {385},
             (21, 5): {387},
             (151, 56): {388},
             (51, 40): {391},
             (166, 112): {396, 412},
             (250, 78): {399},
             (5, 67): {401},
             (141, 154): {403},
             (138, 38): {405},
             (121, 19): {407},
             (111, 112): {410},
             (248, 32): {417},
             (79, 81): {421, 504},
             (105, 67): {423, 426},
             (3, 12): {431},
             (120, 112): {442},
             (60, 31): {448, 796},
             (151, 84): {449},
             (138, 4): {451},
             (13, 58): {453},
             (174, 112): {455},
             (35, 112): {457},
             (70, 67): {461},
             (88, 81): {462},
             (218, 30): {463},
             (138, 2): {466},
             (42, 13): {467},
             (51, 154): {468},
             (124, 136): {471},
             (81, 112): {476},
             (67, 67): {478},
             (190, 77): {479},
             (37, 19): {488},
             (8, 8): {492, 750},
             (250, 59): {496},
             (190, 23): {497},
             (25, 10): {503},
             (25, 67): {506},
             (99, 97): {509},
             (87, 67): {523, 834},
             (51, 37): {524},
             (228, 30): {525},
             (124, 63): {214, 532},
             (103, 154): {548},
             (151, 22): {549, 740},
             (6, 67): {550},
             (140, 106): {556},
             (151, 62): {564},
             (105, 35): {566},
             (43, 22): {567},
             (124, 154): {571},
             (79, 106): {576, 670},
             (99, 37): {577, 817},
             (41, 112): {578},
             (58, 154): {579},
             (85, 19): {580},
             (101, 47): {581},
             (51, 7): {583},
             (2, 37): {584},
             (2, 49): {586},
             (230, 37): {588},
             (45, 24): {593},
             (106, 67): {598},
             (47, 55): {599},
             (51, 53): {600, 849},
             (131, 33): {605},
             (69, 94): {606},
             (29, 106): {608},
             (7, 20): {615},
             (91, 211): {616},
             (105, 110): {620, 862},
             (29, 121): {621, 723, 880},
             (99, 100): {624},
             (138, 21): {631},
             (88, 4): {637},
             (26, 135): {643},
             (14, 59): {644},
             (71, 83): {649},
             (79, 53): {651},
             (124, 4): {654},
             (59, 30): {658, 713},
             (89, 19): {660},
             (62, 112): {666},
             (27, 112): {672},
             (32, 109): {211, 676},
             (1, 58): {679},
             (128, 22): {685},
             (0, 44): {688},
             (23, 37): {694},
             (91, 32): {696},
             (145, 81): {700},
             (21, 28): {702},
             (78, 8): {703},
             (68, 67): {714},
             (73, 19): {720},
             (32, 20): {721},
             (31, 110): {726},
             (129, 143): {727},
             (23, 136): {731},
             (54, 11): {736},
             (62, 41): {739},
             (90, 238): {743},
             (91, 99): {745},
             (4, 30): {749},
             (43, 67): {752},
             (241, 37): {754},
             (5, 135): {756},
             (53, 154): {761},
             (36, 4): {763},
             (79, 136): {764},
             (91, 182): {775},
             (88, 3): {776},
             (20, 20): {786},
             (19, 106): {787},
             (49, 101): {790},
             (90, 7): {792},
             (33, 96): {795},
             (26, 117): {803},
             (191, 75): {804},
             (51, 9): {810},
             (8, 106): {812},
             (239, 36): {819, 902},
             (79, 16): {828},
             (131, 52): {829},
             (63, 30): {833},
             (140, 37): {846, 865},
             (124, 100): {847},
             (138, 18): {852},
             (167, 89): {857},
             (31, 19): {78, 861},
             (24, 12): {866},
             (26, 136): {870},
             (12, 54): {484, 871},
             (26, 46): {872, 926},
             (22, 12): {873},
             (134, 154): {877},
             (154, 9): {879},
             (31, 81): {886},
             (63, 67): {890},
             (92, 67): {891},
             (10, 12): {903},
             (15, 67): {905},
             (127, 35): {910},
             (64, 22): {912},
             (6, 27): {720, 916},
             (16, 19): {919},
             (32, 67): {923},
             (186, 22): {927},
             (34, 119): {935},
             (28, 67): {936},
             (159, 0): {0, 140, 602},
             (138, 150): {1},
             (259, 0): {2},
             (73, 69): {3,
              39,
              86,
              124,
              203,
              213,
              223,
              232,
              241,
              245,
              254,
              295,
              301,
              726},
             (44, 61): {4, 179, 433, 734, 769, 791},
             (78, 0): {5,
              7,
              13,
              32,
              59,
              60,
              64,
              66,
              79,
              89,
              93,
              94,
              97,
              99,
              112,
              120,
              131,
              136,
              137,
              144,
              146,
              155,
              180,
              198,
              201,
              281,
              305,
              317,
              329,
              343,
              390,
              392,
              393,
              394,
              436,
              437,
              439,
              531,
              563,
              613,
              634,
              637,
              642,
              645,
              647,
              657,
              665,
              755,
              770,
              771,
              772,
              776,
              777,
              794,
              810,
              822,
              866,
              874},
             (78, 61): {6,
              9,
              34,
              43,
              57,
              68,
              69,
              91,
              109,
              110,
              132,
              162,
              163,
              173,
              175,
              183,
              199,
              247,
              259,
              346,
              582,
              612,
              649,
              682,
              797,
              821,
              845,
              860},
             (10, 0): {8,
              50,

In [608]:
preprocessed_df.iloc[302]

CustLocation               SONIPAT
CustomerAge                   26.0
CustAccountBalanceOrder         04
TransactionDayPeriod       evening
Name: 322, dtype: object

## 1.3 Locality Sensitive Hashing

In [605]:
query_df = pd.read_csv(os.getcwd()+'/query_users.csv')
query_df.head(10)

,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,27/7/78,M,DELHI,94695.61,2/9/16,140310,65.0
1,6/11/92,M,PANCHKULA,7584.09,2/9/16,120214,6025.0
2,14/8/91,M,PATNA,7180.60,10/8/16,221732,541.5
3,3/1/87,M,CHENNAI,56847.75,29/8/16,144138,1000.0
4,4/1/95,M,GURGAON,84950.13,25/9/16,233309,80.0
5,10/1/81,M,WORLD TRADE CENTRE BANGALORE,23143.95,11/9/16,192906,303.0
6,20/9/76,F,CHITTOOR,15397.80,28/8/16,92633,20.0
7,10/4/91,M,MOHALI,426.30,2/8/16,203754,50.0
8,19/3/90,M,MOHALI,4609.34,26/8/16,184015,300.0
9,19/12/70,M,SERAMPORE,6695988.46,27/8/16,144030,299.0

In [606]:
query_df = preprocessedData(query_df)
query_df.head()

  CustLocation CustomerAge CustAccountBalanceOrder TransactionDayPeriod
0        DELHI        44.0                      04            afternoon
1    PANCHKULA        31.0                      03              morning
2        PATNA        31.0                      03            afternoon
3      CHENNAI        36.0                      04            afternoon
4      GURGAON        28.0                      04            afternoon

In [ ]:
# on formate nos données d'entrée
query_df = preprocessedData(query_df)

# on récupère la characteristic matrix associée
shingles = getShingles(query_df)
characteristic_matrix = getCharacteristicMatrix(shingles)

# on récupère les documents similaires pour chaque customer
similar_customers = dict()
for i in range(query_df.shape[0]) :
    similar_customers[i] = lsh.getSimilarities(characteristic_matrix[i])

In [211]:
query_df.shape

(46, 6)

In [ ]:
# Get the k most_similar customer of a query user

def jaccard_similarity(list1, list2):
    intersection = set(list1).intersection(set(list2))
    union = set(list1+list2)
    return len(intersection) / len(union)

def getKMostSimilarCustomers(customerIndex) :
    similarCustomers = similar_customers[customerIndex]
    customerData = query_df.iloc[customerIndex]
    jaccard_similarities = []
    for index in similarCustomers :
        # Ne prendre que les colonnes communes à df et query_df
        similarCustomerData = df.iloc[index].values
        jaccard_similarities.append(jaccard_similarity(customerData, similarCustomerData))
    
    # sort en fonction de la jaccard similarity et récup les k premiers

In [617]:
A = [(0,1),(1,15)]
A = sorted(A, key=lambda x:x[1], reverse=True)
A

[(1, 15), (0, 1)]

# 2. Grouping Customers together !

# Command Line Question

In [2]:
full_df = pd.read_csv(os.getcwd()+'/bank_transactions.csv')
full_df.head()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5

In [4]:
full_df.to_csv(os.getcwd()+'/bank_transactions_v2.csv', sep=';', index=False)

In [80]:
from collections import Counter

print("Location which has the maximum number of purchases been made :", Counter(full_df.CustLocation).most_common(1))

Location which has the maximum number of purchases been made : [('MUMBAI', 103595)]

In [9]:
data = full_df[full_df.CustGender == 'F']
print("Amount spent by females :",sum(list(data['TransactionAmount (INR)'])))

Amount spent by females : 466810951.4299866

In [10]:
data = full_df[full_df.CustGender == 'M']
print("Amount spent by males :", sum(list(data['TransactionAmount (INR)'])))

Amount spent by males : 1181644838.11998

In [8]:
max_average_amount_transaction = 0

df_group_by_customer_id = full_df.groupby("CustomerID")

for c in tqdm(df_group_by_customer_id.indices.keys()) :
    customer_data = df_group_by_customer_id.get_group(c)
    amount_transactions_mean = customer_data["TransactionAmount (INR)"].mean()
    if amount_transactions_mean > max_average_amount_transaction :
        max_average_amount_transaction = amount_transactions_mean
        customer = c

print("Customer "+customer+" has the highest average transaction amount : "+str(max_average_amount_transaction))

100%|██████████| 884265/884265 [03:29<00:00, 4222.08it/s]

Customer C7319271 has the highest average transaction amount : 1560034.99

# Algorithmic Question